.structure-design-maindiv{
    /* top:100%; */
    position: absolute;
    width: 100%;
    height: 100%;
}

.container-structure-design-svg {
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%, -50%);
}

.container-structure-design-buttons{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.container-structure-design-left-button{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-102%);
    width: 20%;
    min-width: 200px;
    transition: all 0.2s;
}

.container-structure-design-right-button{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(2%);
    width: 20%;
    min-width: 200px;
    transition: all 0.2s;
}

.selected{
    background-color:#95CAFF !important;
    color:#fff !important;
    border:2px solid #95CAFF !important;
}

.disabled{
    background-color:#aaaaaa !important;
    color:#fff !important;
    border:2px solid #777 !important;
}