.container-select-item{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
}

.container-select-item-container-3{
    background-color: #5B5F68;
    position: absolute;
    top: calc(50% - 10vh);
    height: 20vh;

    left: calc(50% - 30vh);
    width: 60vh;

    border: 3px solid #95CAFF;

    transition: 0.5s all;
}

.container-select-item-container-2{
    background-color: #5B5F68;
    position: absolute;
    top: calc(50% - 10vh);
    height: 20vh;

    left: calc(50% - 20vh);
    width: 40vh;

    border: 3px solid #95CAFF;

    transition: 0.5s all;
}

.container-select-item-container-1{
    background-color: #5B5F68;
    position: absolute;
    top: calc(50% - 10vh);
    height: 20vh;

    left: calc(50% - 10vh);
    width: 20vh;

    border: 3px solid #95CAFF;

    transition: 0.5s all;
}

.container-select-item-container-3.large-comp{
    left: calc(50% - 32.5vh);
    width: 65vh;
}

.container-select-item-container-2.large-comp{
    left: calc(50% - 22.5vh);
    width: 45vh;
}

.container-select-item-container-1.large-comp{
    left: calc(50% - 12.5vh);
    width: 25vh;
}

.container-select-item-smaller-container-1-1{
    position: absolute;
    width: 20vh;
    height: 100%;
    right: 0;
}

.container-select-item-smaller-container-2-1{
    position: absolute;
    width: 40vh;
    height: 100%;
    right: 0;
}

.container-select-item-smaller-container-1-2{
    position: absolute;
    width: 20vh;
    height: 100%;
    right: 20vh;
    border-right: 3px solid #95CAFF;
}

.container-select-item-smaller-container-2-2{
    position: absolute;
    width: 20vh;
    height: 100%;
    right: 0;
    border-left: 3px solid #95CAFF;
    transition: 1s all;
}

.container-select-item-smaller-container-1-3{
    position: absolute;
    width: 20vh;
    height: 100%;
    right: 40vh;
    border-right: 3px solid #95CAFF;
}

.container-select-item-smaller-container-2-3{
    position: absolute;
    width: 20vh;
    height: 100%;
    right: 20vh;
    border-left: 3px solid #95CAFF;
    transition: 1s all;
}

.container-select-item-smaller-container-3-3{
    position: absolute;
    width: 20vh;
    height: 100%;
    right: 0;
    border-left: 3px solid #95CAFF;
    transition: 1s all;
}

.single-container-container-img{
    position: absolute;
    left:0;
    width: auto;
    pointer-events: none;
    top:0;
    transition: 0.5s all;
    max-height: 100%;
    margin:0 auto;
}

.single-container-text{
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
    color:#5B5F68;
    transition: 0.5s all;
    font-family: Uni;
}

.text-desc{
    margin: 0 5px 5px 0;
    position: relative;
    top: 5px;
    left:5px;
    width: calc(100% - 10px);
    text-align: center;
    font-family: Uni;
    border: 0;
    font-size: 15px;
    color: white;
    padding: 5px;
    transition: 0.2s all;
    background-color: #6B6F78;
}

.text-desc:hover{
    color: #95CAFF;
    font-size: 120%;
}

.back-button{
    position: absolute;
    left:0;
    top:0;
    width: 5vh;
    height: 100%;
    background-color:#7B7F88;
    z-index: 1000;
    color: white;
    transition: all 0.2s;
}

.back-button:hover{
    background-color: white;
    color: #95CAFF;
}

.back-button-text{
    position: absolute;
    left:8px;
    writing-mode: vertical-lr;
    font-family: Uni, serif;

    top:50%;
    transform: rotate(180deg) translateY(50%);
    pointer-events: none;
}


































.container-select-background{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #4B4F58;
    transition: all 1s;
    overflow-y: hidden;
}

.center-hexagon{
    position: relative;
    width: 40vw;
    height: 40vw;
    left: calc(50% - 20vw);
    top: calc(50% - 20vw);
}

.initial-button-wrapper{
    position: absolute;
    font-family: "Uni";
    width: 100%;
    height: 100%;
    color: white;
    font-size: 3vw;
    transition: all 1s;
    pointer-events: none;
}

@media screen and (min-width: 1200px) {
    .initial-button-wrapper {
        font-size: 36px;
    }
}

.initial-button-text{
    position: absolute;
    top:50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.center-hexagon-molcure-icon{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 50%;
    transition: all 1s;
}

.single-container{
    max-width: 300px;
    width:20vw;
    height:20vh;
    text-align: center;
    background-color: #5B5F68;
}

.single-container-svg{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.center-hexagon-logo{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 300px;
}

.center-hexagon-logo-tiny{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 25%;
    max-width: 150px;
    transition: all ease 0.3s;
    animation: fade 1s forwards;
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 0.2}
}

@font-face {
    font-family: "Uni";
    src: url("../fonts/uni/Uni Sans Thin.otf");
}